@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-absensi-primary: #21007d;
  --color-absensi-secondary: #6b3af8;
  --color-absensi-tertiary: #121212;
  --color-primary: #495057;
  --color-secondary: #ffffff;
  --color-tertiary: #6b3af8;
  --color-error: #bc1d42;
  --color-disable: #a0a0a0;
  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}